.account-page {
  min-height: 120vh;
  margin: 0 auto;
  background-color: $color-primary-blue;
  // account-page__nav
  &__menu-nav {
    width: 90%;
    height: 400px;
    max-width: 400px;
    min-width: 220px;
    margin: 0 auto;
    margin-top: 13rem;
    font-size: 1.4rem;
    letter-spacing: 0.01rem;
    padding: 2.8rem;
    background: $color-white;
    text-align: left;
    box-shadow: $shadow-light;
    border: 1px solid $color-grey-light-3;
  }
  // account-page__menu
  &__menu {
    text-align: left;
    &-icon {
      margin-right: 1rem;
    }

    &-title {
      font-weight: 400;
      text-transform: uppercase;
      border-bottom: 1px solid $color-grey-dark-4;
      padding-bottom: 1.4rem;
      margin-bottom: 1.5rem;
    }

    &-items {
      text-decoration: none;
      color: $color-black;
      padding: 1.4rem 0;
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
      }
      span {
        padding: 0.5rem;
        transition: all 0.1s ease-in;
        border-bottom: 1px solid transparent;
        &:hover {
          border-bottom: 1px solid black;
        }
      }
    }
  }
  &__top-icons {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  &__edit-icon,
  &__back-icon {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 1rem;
    text-transform: uppercase;
  }
  &__edit-icon {
    justify-content: flex-end;
    color: $color-grey-dark-3;
    &:hover {
      cursor: pointer;
      color: $color-blue;
    }
  }
  &__back-icon {
    justify-content: flex-start;
  }
  #account-menu-icon {
    &:hover {
      fill: #89c5da;
    }
  }
  // account-page__details
  &__details {
    width: 90%;
    margin: 0 auto;
    margin-top: 13rem;
    font-size: 1.4rem;
    letter-spacing: 0.01rem;
    padding: 1rem;
    text-align: left;
    background: $color-white;
    min-height: 400px;

    box-shadow: $shadow-light;
    border: 1px solid $color-grey-light-3;
  }
  &__title {
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
  }
  &__signup-form {
    margin-top: 3rem;
  }
  &__body {
    margin-top: 4rem;
    width: 95%;
    margin: 0 auto;
  }
  &__profile {
  }
  &__current-address {
    width: 100%;
    margin: 1rem auto;
    border: 1px solid $color-grey-light-4;
    padding: 1rem;
  }

  &__add-new-address {
    text-decoration: underline;
    font-weight: 400;
    font-size: 1.6rem;
    margin-top: 3rem;
    &:hover {
      cursor: pointer;
      color: $color-blue;
    }
  }
  &__new-address-form {
    margin-top: 1rem;
    background-color: $color-grey-background;
  }
}
.profile-item {
  padding: 1.4rem;
  display: flex;

  &__title {
    text-transform: uppercase;
    width: 10rem;
  }
  &__field {
    width: 10rem;
    align-items: center;
    display: flex;
  }
}
.hide-on-mobile {
  display: none;
}
@media only screen and (min-width: $sm-viewport) {
}
@media only screen and (min-width: $md-viewport) {
  .hide-on-mobile {
    display: block;
  }
  .hide-on-desktop {
    display: none;
  }
  .account-page {
    padding: 1rem 3rem;

    &__menu-nav {
      background: $color-white;
      width: 95%;
    }
    &__details {
      width: 95%;
      padding: 2rem;
    }
    &__top-icons {
      justify-content: flex-end;
    }
    &__current-address {
   
    }
  }
}

@media only screen and (min-width: $lg-viewport) {
  .account-page {
    padding: 1rem 7rem;
    &__menu-nav {
      height: 400px;
      box-shadow: none;
    }
    &__menu-items {
      &:hover {
      }
    }
    &__details {
      padding: 2.8rem;
    }
  }
  .underline-main {
    padding: 0.5rem;
    border-bottom: 1px solid black !important;
  }
}
