// COLOR VARIABLES

$color-primary-pink: #fff3f2;
$color-primary-blue: #e6eaed;
$color-primary-grey: rgb(72, 72, 72);
// $color-primary-blue: rgb(235, 245, 251);
$color-orange-red: #fc534e;
$color-letter-highlight: #f41f4d;
$color-orange-yellow: #ffd16d;
$color-light-blue: #ebf5fb;
// $color-light-blue: #e6eef3;
$color-dark-blue: #1e306e;
$color-navy: #051a30;
$color-blue: #2a73cc;
$color-white: #ffffff;
$color-black: black;
$color-red: red;
$color-error: #eb1c26;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;
$color-grey-background: #f2f2f2;
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;
$color-grey-dark-4: rgb(196, 198, 199);


// FONT VARIABLES
$font-primary: 'HurmeGeometricSans3';
$font-display: 'Josefin Sans', sans-serif;

$font-xxxs: 0.5rem;
$font-xxs: 1rem;
$font-xs: 1.6rem;
$font-s: 2rem;
$font-m: 4rem;
$font-l: 6rem;
$font-xl: 8rem;

// shadow
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-mid: 0 2rem 5rem rgba(0, 0, 0, 0.12);
$shadow-light: 0 0rem 1rem rgba(0, 0, 0, 0.12);
$shadow-all-light: 0.4rem 1rem 2rem rgba(0, 0, 0, 0.1);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
}

button {
  font-family: $font-primary;
  font-weight: 300;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    -webkit-appearance: none;
}


