// COLOR VARIABLES

$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;
$color-white: #fff;
$color-black: black;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

// FONT VARIABLES
$font-primary: 'Circular';
$font-display: 'Josefin Sans', sans-serif;

$font-xxxs: 0.5rem;
$font-xxs: 1rem;
$font-xs: 1.6rem;
$font-s: 2rem;
$font-m: 4rem;
$font-l: 6rem;
$font-xl: 8rem;

// shadow
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.08);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-weight: 300;
  font-weight: 300;
  line-height: 1.6;
}

