.cart-background {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: 201;
  background-color: rgba($color: $color-grey-dark-1, $alpha: 0.4);
}

.cart-page {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: auto;
  width: 100%;
  background: $color-white;
  margin: 0 auto;
  padding: 2rem;
  z-index: 101;
  &__cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: $color-orange-red;
    color: $color-white;
    font-size: 1.4rem;
    font-weight: 300;
    right: 1.4rem;
    top: 1.5rem;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.06rem;
  }

  &__free-shipping {
    font-size: 1.5rem;
    color: $color-blue;
    text-align: center;
    padding: 1.1rem;
    border-bottom: 1rem solid $color-primary-blue;
    // text-transform: uppercase;
  }

  &__product-summary {
    margin: 2rem 0 2.2rem 0;
    border-bottom: 1px solid $color-grey-light-4;
    padding: 2rem 0;
  }
  &__product-image {
    border: $color-grey-dark-2;
  }
  &__plant-name {
    font-size: 1.5rem;
    font-weight: 400;
  }
  &__pot-name,
  &__base-name,
  &__qty {
    font-size: 1.3rem;
  }
  &__price {
    text-align: right;
  }
  &__qty-price-summary {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0.8rem 0;
  }
  &__qty-control-bar {
    margin-left: 1rem;
    border: 2px solid $color-grey-light-4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 10rem;
    height: 2.8rem;
    font-size: 1.2rem;
  }
  &__price {
    font-size: 1.4rem;
    text-align: right;
  }
  &__bottom {
    background: $color-grey-background;
    margin: 1rem 0 2rem;
  }
  &__subtotal {
    display: flex;
    justify-content: space-between;
    padding: 0.9rem;
  }
  &__subtotal-name {
    font-size: 1.4rem;
    font-weight: 400;
  }
  &__subtotal-price {
    font-size: 1.4rem;
    font-weight: 300;
  }
  &__total {
    font-size: 1.6rem;
    font-weight: 300;
  }
  &__trash-icon {
    &:hover {
      cursor: pointer;
    }
  }
  &__plus-icon,
  &__minus-icon,
  &__cross-icon,
  &__cart-icon {
    &:hover {
      cursor: pointer;
    }
  }
  &__no-items {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 12rem;
    margin-bottom: 5rem;
  }
  &__continue-shopping {
    width: 25rem;
    margin: 0 auto;
  }
}

// Cart Summary Page Starts Here
.cart-summary {
  border: 1px solid $color-grey-light-4;
  padding: 1rem;
  padding-top: 2rem;
  display: block;
  overflow: auto;
  z-index: 51;
  background: $color-white;

  &__product-details {
    text-align: left;
    margin-bottom: 1rem;
  }
  &__bottom {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid $color-grey-dark-4;
  }
  &__subtotal {
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 0.7rem;
  }
  &__subtotal-name {
    font-size: 1.3rem;
    font-weight: 400;
  }
  &__subtotal-price {
    font-size: 1.3rem;
    font-weight: 300;
  }
  &__price {
    text-align: right;
    margin-right: 1.8rem;
  }
}

@media only screen and (min-width: $sm-viewport) {
  .cart-page {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    width: 470px;
  }
}

// @media only screen and (min-width: $md-viewport) {
//   .cart-summary {
//     position: absolute;
//     top: 6rem;
//     right: 0;
//     overflow: auto;
//     box-shadow: $shadow-light;
//   }
// }
