// Checkout Page
.checkout__forms {
  background-color: $color-light-blue;
}
.checkout__shipping-container {
  // background-color: $color-primary-pink;
  width: 100%;
  margin: 6rem auto 0 auto;
}
.checkout__payment-container {
  // background-color: $color-primary-pink;
  width: 100%;
  margin: 1rem auto;
}
.checkout__order-summary-container {
  // background-color: $color-primary-pink;
  width: 100%;
  margin: 0rem auto;
}

// shipping-form
.shipping-form {
  // background-color: $color-primary-pink;
  width: 90%;
  max-width: 55rem;
  margin: 0 auto;
  padding: 3rem 1rem;
  font-family: 'HurmeGeometricSans3';
  &__item {
    width: 100%;
  }
  &__field {
    display: block;
    font-size: 1.4rem;
    width: 100%;
    padding: 1.4rem;
    margin: 0.9rem auto;
    border: none;
    border-bottom: 1px solid $color-grey-dark-2;
    border-radius: 0.2rem;
    background: $color-white;
  }
  &__checkbox {
    padding: 1rem;
    margin: 0.4rem 1rem 0 1rem;
    &--outer {
      display: flex;
    }
    &--comment {
      font-size: 1.2rem;
      width: 100%;
      display: inline-block;
    }
  }
  &__error {
    display: block;
    height: 1.4rem;
    width: 100%;
    padding-left: 0.8rem;
    margin: -0.5rem auto 1rem auto;
    color: $color-error;
    font-size: 1.2rem;
  }
  &__comment {
    font-size: 1.4rem;
    margin: 4rem 0;
  }

  &__title {
    font-weight: 400;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.07rem;
    margin-bottom: 2rem;
    padding: 2rem;
    &--comment {
      font-size: 1.5rem;
      font-weight: 300;
      padding-bottom: 2rem;
    }
  }
  &__sub-title {
    font-size: 1.5rem;
    font-weight: 400;
  }
  &__country {
    font-size: 1.4rem;
    p {
      margin-top: 1.6rem;
      color: $color-grey-dark-2;
    }
    &--flag {
      display: flex;
      align-items: center;
      span {
        display: inline-block;
        padding: 0 2rem;
      }
    }
  }
}

// OrderSummary Starts Here
.order-summary {
  &__checkout {
    background: $color-white;
  }
  &__container {
    border: 1px solid $color-grey-light-4;
    margin-top: 1rem;
    overflow: auto;
    font-size: 1.4rem;
    padding: 1rem;
    padding-top: 2rem;
    display: block;
    z-index: 51;
    background: $color-white;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
  }
  &__bottom {
    margin-top: 1rem;
    padding-top: 1rem;
  }
  &__subtotal {
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 0.7rem;
    font-weight: 300;
    &__name {
      font-size: 1.3rem;
    }
    &__price {
      font-size: 1.3rem;
    }
  }
  &__total {
    border-top: 1px solid $color-grey-light-4;
    background: $color-grey-background;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 0.7rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
  }

  &__price {
    text-align: right;
    margin-right: 1.8rem;
  }
}
.user-exists-modal {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  &__header {
    font-weight: 300;
  }
  &__content {
    font-weight: 400;
  }
}

@media only screen and (min-width: $md-viewport) {
  .order-summary__container {
    position: absolute;
    width: 400px;
    top: 5rem;
    right: 1.2rem;
  }
}
@media only screen and (min-width: $lg-viewport) {
  .checkout__forms {
    background-color: $color-light-blue;
    min-height: 120vh;
  }

  .shipping-form {
    min-height: 130vh;
  }
  .checkout__shipping-container {
    width: 96%;
    margin: 7rem auto;
    min-height: 130vh;
  }
  .checkout__payment-container {
    width: 96%;
    margin: 7rem auto;
    min-height: 130vh;
  }
  .checkout__order-summary-container {
    width: 96%;
    margin: 7rem auto;
    min-height: 130vh;
  }
}
