.collection-hero {
  height: 40rem;
  overflow: hidden;
}
.collection {
  font-size: $font-xs;

  a {
    &:link,
    &:visited {
      text-decoration: none;
      color: black;
    }
  }
  &__name {
    font-size: $font-m;
    letter-spacing: $font-xxxs;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-white;
    text-align: center;
    padding-top: 24rem;
  }
  &__intro {
    font-size: $font-s;
    letter-spacing: 0.1rem;
    color: $color-white;
    text-align: center;
  }
  &__mobile {
    font-size: $font-xl;
    letter-spacing: $font-xxs;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-white;
    text-align: center;
    padding-top: 20rem;
    transform: skewY(-5deg);
  }
  &__card {
    text-align: left;
  }
  .product__image-container {
    width: 100%;
    overflow: hidden;
  }
  .product__image {
    width: 120%;
  }

  .product__info {
    display: flex;
    justify-content: space-between;
    margin-top: $font-xs;
    font-size: $font-xs;
  }
  .product__name {
    font-weight: 400;
  }

  .product__caption {
    font-size: 1.2rem;
    color: $color-grey-dark-3;
    margin-bottom: $font-l;
    margin-top: $font-xxxs;
    display: flex;
    justify-content: space-between;
    &--1,
    &--2 {
      text-transform: uppercase;
    }
  }
}
