// header mobile styles
.header {
  height: 7.2rem;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: translate(-100%);
  z-index: 301;

  > * {
    display: flex;
    a {
      &:link,
      &:visited {
        padding: $font-xxs;
        text-decoration: none;
        display: inline-block;
        color: $color-white;
        border-bottom: 2px solid transparent;
        transition: all 0.25s ease-out;
        font-weight: 500;
      }
    }
  }
  &__cart {
    position: relative;
  }
  &__cart-count {
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    background: $color-orange-red;
    color: $color-white;
    font-weight: 300;
    bottom: 2rem;
    right: -0.6rem;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
  }
  &__section--left {
    justify-content: flex-start;
  }

  &__section--middle {
    justify-content: center;
  }

  &__section--right {
    justify-content: flex-end;
  }
}

.header__logo {
  min-width: 17rem;
}

.header__icon {
  stroke: $color-white;
  fill: $color-white;
}
.header__icon--country {
}
.productHeader {
  transition: all 0.25s ease-in;
  &:hover {
    box-shadow: $shadow-light;
  }

  a {
    &:link,
    &:visited {
      color: $color-black;
    }
  }

  .header__icon {
    stroke: $color-black;
    fill: $color-black;
  }
}

.reducedHeaderOnScroll {
  background-color: $color-white;
  height: 6.8rem;
  box-shadow: $shadow-light;
  transition: all 0.25s ease-in;

  a {
    &:link,
    &:visited {
      color: $color-black;
    }
  }
  .header__logo {
    min-width: 16rem;
  }
  .header__icon {
    stroke: $color-black;
    fill: $color-black;
  }
}

// burgerMenu styling
.header__burger-menu:hover {
  cursor: pointer;
}

.header__slidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: flex;
  background: $color-white;
  transition: all 0.4s ease;
  z-index: 201;

  &-items {
    width: 100%;
    margin-top: 10rem;

    a {
      width: 20rem;
      display: block;
      color: $color-black;
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: 400;
      padding: 2rem;
      text-transform: uppercase;
      letter-spacing: 0.12rem;
      text-align: left;
    }
  }
}

@media only screen and (min-width: $sm-viewport) {
  .header {
    height: 8rem;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.2rem;

    > * {
      a {
        &:link,
        &:visited {
          padding: $font-xxs;
          margin: 0 $font-xxs;
          font-weight: 500;
        }
      }
    }

    &__section--middle {
      a:hover {
        border-bottom: 2px solid transparent;
      }
    }
    &__cart-count {
      bottom: 2rem;
      right: -0.6rem;
    }
  }

  .header__logo {
    min-width: 17rem;
  }

  .reducedHeaderOnScroll {
    height: 6.8rem;
    .header__logo {
      min-width: 17rem;
    }
  }
}
@media only screen and (min-width: $md-viewport) {
  .header {
    height: 9.6rem;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;

    &:hover {
      background: $color-white;
      color: $color-black;
      a {
        &:link,
        &:visited {
          color: $color-black;
        }
      }
      .header__icon {
        stroke: $color-black;
        fill: $color-black;
      }
    }
    > * {
      a {
        &:link,
        &:visited {
          padding: 0.6rem 0.08rem;
          margin: 0 0.9rem;
          font-weight: 500;
        }
        &:hover {
          border-bottom: 2px solid black;
        }
      }
    }

    &__section--middle {
      a:hover {
        border-bottom: 2px solid transparent;
      }
    }
    &__cart-count {
      bottom: 2.2rem;
      right: -0.4rem;
    }
  }

  .header__logo {
    min-width: 24rem;
  }

  .reducedHeaderOnScroll {
    height: 8rem;
    .header__logo {
      min-width: 22rem;
    }
  }
}
@media only screen and (min-width: $lg-viewport) {
  .header {
    height: 11.4rem;
    font-size: 1.26rem;
    font-weight: 400;
    letter-spacing: 0.14rem;

    > * {
      a {
        &:link,
        &:visited {
          padding: $font-xxs;
          margin: 0 $font-xxs;
          font-weight: 500;
        }
        &:hover {
          border-bottom: 2px solid black;
        }
      }
    }

    &__section--middle {
      a:hover {
        border-bottom: 2px solid transparent;
      }
    }
    &__cart-count {
      bottom: 2.7rem;
      right: 0.4rem;
    }
  }

  .header__logo {
    min-width: 26rem;
  }

  .reducedHeaderOnScroll {
    height: 8.6rem;
    .header__logo {
      min-width: 24rem;
    }
  }
}
