.product {
  display: flex;
  padding-top: 8rem;
  padding-bottom: 7rem;
  font-family: 'HurmeGeometricSans3';
}

.product-detail {
  padding-top: 2rem;
  &__header {
     color: rgb(29, 29, 29);
    font-size: 2.6rem;
    font-weight: 400;
  }
  &__price {
    color: rgb(29, 29, 29);
    font-size: $font-s;
    letter-spacing: 0.06rem;
    font-weight: 300;
  }
  &__caption {
    font-size: 1.2rem;
    font-weight: 300;
  }
  &__description {
    padding-top: $font-xs;
    font-size: 1.5rem;
    font-weight: 300;
    color: #555;
  }
  .pot-image__box,
  .base-image__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid transparent;
    transition: all 0.1s ease;
    &:hover {
      border: 1px solid $color-grey-dark-3;
    }
  }
  .pot-images,
  .base-images {
    width: 100%;
    border-radius: 100%;
  }
  .active {
    border: 1px solid $color-grey-dark-3;
  }

  &__selected-pot,
  &__selected-base {
    margin-top: 3rem;
    font-size: 1.2rem;

    &--style {
      font-weight: 500;
      text-transform: uppercase;
    }
    &--name {
    }
  }
  &__pot-images,
  &__base-images {
    display: flex;
  }

  &__selected-base {
    margin-top: 1rem;
    font-size: 1.2rem;

    &--style {
      font-weight: 500;
      text-transform: uppercase;
    }
    &--name {
    }
  }

  &__form {
    margin-top: 1rem;
  }
  
}

.product-banner {
  height: 100vh;
  background: $color-primary-pink;
}
.product-instagram {
  height: 100vh;
}
.product-review {
  height: 100vh;
  background: $color-primary-pink;
}

@media only screen and (min-width: $md-viewport) {
  .product {
    padding-top: 10rem;
    padding-bottom: 7rem;
  }
  .product-detail {
    padding-top: 0;
  }
}
@media only screen and (min-width: $lg-viewport) {
  .product {
    padding-top: 15rem;
    padding-bottom: 7rem;
  }
  .thumbnail-col {
    width: 12rem;
    margin-right: 1.5rem;
  }
  .thumbnail-image {
    width: 9rem;
    height: 9rem;
  }
  .thumbnail-image-box {
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -0.5rem 0 1.5rem;
    transition: all 0.1s ease-out;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid $color-grey-dark-3;
    }
  }

  .product-detail {
    &__header {
      font-size: 3rem;
      font-weight: 400;
    }
    &__price {
      font-size: $font-s;
    }
    &__caption {
      font-weight: 200;
    }
    &__description {
      font-weight: 200;
    }

  }
}
