.signup-page {
  padding: 9rem 0;
  background-color: $color-primary-blue;
}

.signup-form {
  display: block;
  width: 100%;
  margin: 0 auto;
  &__item {
    width: 100%;

  }
  &__label {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.06rem;
    width: 98%;
    margin: 0 auto;
  }
  &__field {
    display: block;
    font-size: 1.6rem;
    width: 98%;
    padding: 1.8rem;
    margin: 0.3rem auto 1.5rem auto;
    border: none;
    border: 1px solid $color-grey-light-1;
    border-radius: 0.2rem;
    background: $color-white;
  }

  &__title {
    display: inline-block;
    font-size: 2rem;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    &--comment {
      font-size: 1.5rem;
      font-weight: 300;
      padding-bottom: 3rem;
      
    }
  }
    
  &__error {
    display: block;
    width: 98%;
    margin: -0.5rem auto 1rem auto;
    color: red;
    font-size: 1.3rem;
    &--password-strong {
      color: rgb(0, 166, 153);
    }
  }
  &__forgot-password {
    text-decoration: underline;
    font-size: 1.2rem;
    &:hover {
      cursor: pointer;
    }
  }

  &__btn {
    display: block;
    width: 98%;
    padding: 1.8rem;
    margin: 2.8rem auto 1.5rem auto;
    border: 1px solid transparent;
    font-size: $font-xs;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: $color-white;
    border-radius: 0.3rem;
    background: $color-black;
    background: $color-black;
    &:hover {
      background-color: $color-primary-blue;
      border: 1px solid $color-black;
      color: $color-black;
      cursor: pointer;
    }
  }
  &__policy-agreement {
    font-family: 'HurmeGeometricSans3';
    font-weight: 300;
    font-size: 1.2rem;

    a {
      &:link,
      &:visited {
        text-decoration: none;
        color: black;
        text-decoration: underline;
      }
    }
  }
}
@media only screen and (min-width: $sm-viewport) {
  .signup-page {
    padding-top: 12rem;
    &__content {
      margin: 0 auto;
    }
  }
  .signup-form {
    &__field,
    &__label,
    &__btn,
    &__error {
      max-width: 50rem;
    }
  }
}

@media only screen and (min-width: $lg-viewport) {
  .signup-page {
    padding-top: 16rem;
    
  }
}
