.signup-page {
  padding-top: 10rem;
  background-color: $color-primary-blue;
}
.login__section,
.signup__section {
  padding: 3.6rem 0;
  width: 100%;
}

.signup-form {
  display: block;
  width: 100%;
  margin: 0 auto;
  &__item {
    width: 100%;
  }
  &__label {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.06rem;
    width: 98%;
    margin: 0 auto;
  }
  &__field {
    display: block;
    font-size: 1.6rem;
    width: 98%;
    padding: 1.8rem;
    margin: 0.3rem auto 1.5rem auto;
    border: 1px solid $color-grey-light-3;
    border-radius: 0.2rem;
    background: $color-white;
  }
  &__title {
    display: inline-block;
    font-size: 2rem;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }
  &__error {
    display: block;
    font-size: 1rem;
    color: red;
    width: 98%;
    margin: 0 auto;
    font-style: italic;
  }
  &__btn {
    border: none;
    font-size: $font-xs;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: $color-white;
    border-radius: 0.3rem;
    background: $color-black;
    background: $color-black;
    &:hover {
      background-color: $color-primary-blue;
      border: 1px solid $color-black;
      color: $color-black;
      cursor: pointer;
    }
    &__policy-agreement {
      font-size: $font-s;

      font-size: 1.1rem;
      font-weight: 300;
      a {
        &:link,
        &:visited {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
@media only screen and (min-width: $sm-viewport) {
  .signup-form {
    &__field,
    &__label,
    &__error {
      width: 43rem;
    }
  }

}

@media only screen and (min-width: $lg-viewport) {
  
  .login__section {
    padding-left: 4rem;
  }
  .signup__section {
    padding-right: 4rem;
  }
}
