.signup-page {
  padding: 9rem 1rem;
  background-color: $color-primary-blue;
}

.signup-form {
  display: block;
  width: 100%;
  margin: 0 auto;
  &__item {
    width: 100%;
  }
  &__label {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.06rem;
    width: 100%;
    margin: 0 auto;
  }
  &__field {
    display: block;
    font-size: 1.6rem;
    width: 100%;
    padding: 1.8rem;
    margin: 0.3rem auto 1.5rem auto;
    border: none;
    border: 1px solid $color-grey-light-2;
    border-radius: 0.2rem;
    background: $color-white;
  }

  &__title {
    display: inline-block;
    font-size: 2rem;
    letter-spacing: 0.07rem;
    margin-bottom: 3rem;
    &--comment {
      font-size: 1.5rem;
      font-weight: 300;
      padding-bottom: 3rem;
    }
  }

  &__error {
    display: block;
    width: 100%;
    margin: -0.5rem auto 1rem auto;
    color: $color-error;
    font-size: 1.4rem;
    &--password-strong {
      color: rgb(0, 166, 153);
    }
  }

  &__forgot-password, &__no-account {
    font-size: 1.3rem;
    &:hover {
      cursor: pointer;
    }
    &--text {
      border-bottom: 1px solid $color-black;
      display: inline-block;
    }
  }
  &__no-account {
    padding: 1rem 0;
    margin-top: 2rem;
    border-top: 1px solid $color-grey-light-4;
    p {
      padding-bottom: 1rem;
      font-size: 1.6rem;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }

  &__policy-agreement {
    font-family: 'HurmeGeometricSans3';
    font-weight: 300;
    font-size: 1.2rem;

    a {
      &:link,
      &:visited {
        text-decoration: none;
        color: black;
        text-decoration: underline;
      }
    }
  }
}
@media only screen and (min-width: $sm-viewport) {
  .signup-page {
    padding-top: 12rem;
    &__content {
      margin: 0 auto;
    }
  }
  .signup-form {
    &__field,
    &__label,
    &__error {
      max-width: 50rem;
    }
  }
}

@media only screen and (min-width: $lg-viewport) {
  .signup-page {
    padding-top: 16rem;
  }
}
