.HurmeGeometricSans3 { font-family: "HurmeGeometricSans3", sans-serif };

.f-headline { font-size: 4.5rem; }
.f-subheadline { font-size: 3.5rem; }
.f1 { font-size: 2.4rem; }
.f2 { font-size: 1.9rem; }
.f3 { font-size: 1.7rem; }
.f4 { font-size: 1.5rem; }

@media only screen and (min-width: $sm-viewport) {
  .f-headline { font-size: 5rem; }
  .f-subheadline { font-size: 4rem; }
  .f1 { font-size: 2.6rem; }
  .f2 { font-size: 2.1rem; }
}

@media only screen and (min-width: $md-viewport) {
  .f-headline { font-size: 5.5rem; }
  .f-subheadline { font-size: 4.5rem; }
  .f1 { font-size: 3rem; }
  .f2 { font-size: 2.2rem; }
}

@media only screen and (min-width: $lg-viewport) {
  .f-headline { font-size: 6rem; }
  .f-subheadline { font-size: 5rem; }
  .f1 { font-size: 3.2rem; }
  .f2 { font-size: 2.3rem; }
}