.hover {
  position: relative;

  &:hover &__no-hover {
    opacity: 0;
  }

  &:hover &__hover {
    opacity: 1;
  }

  &__hover {
    position: absolute;
    top: 0;
    opacity: 0;
  }

  &__no-hover {
    opacity: 1;
  }
}

.black-lg-btn {
  display: block;
  width: 100%;
  max-width: 50rem;
  padding: 1.6rem;
  margin: 2.8rem auto 1.5rem auto;
  border: 1px solid transparent;
  font-size: $font-xs;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: $color-white;
  border-radius: 0.3rem;
  background: $color-black;
  &:hover {
    background-color: transparent;
    border: 1px solid $color-black;
    color: $color-black;
    cursor: pointer;
  }
}

.black-sm-btn {
  display: block;
  width: 100%;
  max-width: 55rem;
  padding: 1.4rem;
  margin: 4rem auto;
  border: 1px solid transparent;
  font-size: $font-xs;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: $color-white;
  border-radius: 0.2rem;
  background: $color-dark-blue;

  // &:disabled {
  //   opacity: 0.65;
  //   cursor: not-allowed;
  //   &:hover {
  //     background: $color-black;
  //     opacity: 0.65;
  //     color: white;
  //   }
  // }
  &:hover {
    background-color: transparent;
    border: 1px solid $color-black;
    color: $color-black;
    cursor: pointer;
  }
}
.edit-btn {
  display: block;
  width: 100%;
  max-width: 55rem;
  padding: 1.4rem;
  margin: 4rem auto;
  border: 1px solid $color-black;
  font-size: $font-xs;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: $color-black;
  border-radius: 0.2rem;
  background: $color-white;

  // &:disabled {
  //   opacity: 0.65;
  //   cursor: not-allowed;
  //   &:hover {
  //     background: $color-black;
  //     opacity: 0.65;
  //     color: white;
  //   }
  // }
  &:hover {
    background-color: transparent;
    border: 1px solid $color-black;
    color: $color-blue;
    cursor: pointer;
  }
}

.orangeyellow-lg-btn {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border: none;
  background: $color-orange-yellow;
  color: $color-black;
  padding: 1.6rem;
  // border: 1px solid transparent;
  border-radius: 0.2rem;
  transform: all 0.2s ease-in;
  &:hover {
    color: $color-black;
    background: darken($color-orange-yellow, 14%);
    // border: 1px solid $color-black;
    cursor: pointer;
  }
}

.modal-inner {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  height: 400px;
  width: 500px;
  background: $color-white;
  border: 1px solid $color-black;
  margin: auto;
  max-width: 96%;
  max-height: 96%;
  overflow: auto;
  z-index: 401;
  font-size: 1.6rem;
}
.modal-outer {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: 301;
  background-color: rgba($color: $color-grey-dark-1, $alpha: 0.4);
}

.to-uppercase {
  text-transform: uppercase;
}
.no-display {
  display: none;
}
.underline-red {
  border-bottom: 2px solid red;
  padding: 0.3rem;
}
.border-bottom-error {
  border-bottom: 1px solid $color-error;
}
.subtract-mr-1rem {
  margin-right: -1rem;
}
.text-red {
  color: red;
}
.inactive {
  opacity: 0.2;
  background: white;
}
.background-img-styling {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;

}
.no-border {
  border: none;
}
